---
---

<section class="">
	<div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8 dark:text-[#F5F7F9]">
		<div class="max-w-2xl text-center flex flex-col items-center">
			<img
				src="/logo.png"
				alt="JavaScript New Zealand Logo"
				class="h-[100px]"
			/>

			<h1
				class="text-2xl font-semibold tracking-tight sm:text-4xl sm:font-bold pt-5 sm:pt-10"
			>
				JavaScript<span class="text-xs sm:text-sm">.org.nz</span>
			</h1>
		</div>
		<div
			class="flex flex-col items-center justify-center md:py-5 gap-2 sm:gap-5"
		>
			<p class="text-md text-center sm:text-xl sm:font-semibold">
				Click the Slack invite link below to join JavaScript New Zealand
			</p>

			<button
				class="bg-[#F4E11C] rounded-md p-2 font-bold dark:text-black mt-5"
			>
				<a
					href="https://join.slack.com/t/javascriptnewzealand/shared_invite/zt-202lh07r8-zjT6yQBO2qAHnxSnwlxvkQ"
					target="_blank"
				>
					Join JavaScript New Zealand
				</a>
			</button>
		</div>
	</div>
</section>
